<div class="thumb-image">
	<div class="thumb-image__image-container">
		<img src="http://via.placeholder.com/800" class="thumb-image__image">
	</div>
	<div class="thumb-image__text">
		<h2 class="thumb-image__header">Image example</h2>

		<div class="thumb-image__body">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero neque dolores unde cumque amet. Natus dignissimos animi.</p>
		</div>
	</div>
	<div class="thumb-image__footer">
		<a href="#" class="thumb-image__footer-link">See more</a>
	</div>
</div>
