<div class="thumb-image">
	<picture class="thumb-image__image-container">
		<source media="(max-width: 540px)" srcset="http://via.placeholder.com/540" class="thumb-image__image">
		<source media="(max-width: 800px)" srcset="http://via.placeholder.com/800" class="thumb-image__image">
		<source media="(max-width: 1024px)" srcset="http://via.placeholder.com/1024" class="thumb-image__image">
		<img src="http://via.placeholder.com/1200" class="thumb-image__image">
	</picture>

	<div class="thumb-image__text">
		<h2 class="thumb-image__header">Image example</h2>

		<div class="thumb-image__body">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero neque dolores unde cumque amet. Natus dignissimos animi.</p>
		</div>
	</div>
	<div class="thumb-image__footer">
		<a href="#" class="thumb-image__footer-link">See more</a>
	</div>
</div>
