// colors.scss

$color__primary: hsl(345, 100%, 56%);
$color__primary--light: lighten($color__primary, 16%);
$color__primary--dark: darken($color__primary, 32%);

$grey__xlight: hsl(210, 14%, 72%);
$grey__light: saturate(darken($grey__xlight, 8%), 1%);
$grey__mid: desaturate(darken($grey__xlight, 20%), 5%);
$grey__dark: saturate(darken($grey__xlight, 45%), 18%);
$grey__xdark: saturate(darken($grey__xlight, 56%), 12%);
