// typography.scss

$typeface__primary: Arial, Helvetica, sans-serif; // For body copy
$typeface__secondary: Verdana, sans-serif; // For headers + display text

// Better way of arriving at fontsize__base?
$fontsize__base: 137.5%; // 22px
$baseline: 36px;

// Needs redoing with some kind of modular scale implementation
$fontsize__xsmall: 0.55rem;
$fontsize__xsmall--mobile: 0.5rem;
$fontsize__small: 0.85rem;
$fontsize__reg: 1rem;
$fontsize__med: 2.4rem;
$fontsize__large: 3.3rem;
$fontsize__xlarge: 7rem;

html {
	font-size: $fontsize__base;
	font-family: $typeface__primary;
	font-weight: 400;
	background: $grey__xlight;
	color: $grey__dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}

html,
body {
	height: auto;
	margin: 0;
	padding: 0;
}

// Headers
// =======

h1,
h2,
h3 {
	font-family: $typeface__secondary;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

h1 {
}
h2 {
}
h3 {
	font-size: $fontsize__med;
	margin-top: $baseline - 2;
	margin-bottom: $baseline / 1.5 + 4;
	text-transform: capitalize;
}

// Base styling for links
// ======================

a:link,
a:visited {
	text-decoration: none;
	color: $grey__dark;
	transition: color $time__slow $ease__linear 0s,
		fill $time__slow $ease--linear 0s;
}

a:hover {
	color: $color__primary;
	transition: color $time__slow $ease__linear 0s,
		fill $time__slow $ease--linear 0s;
}

a:active {
	transition: none;
}

// Paragraphs and spans
// ====================

p {
	width: 100%;
	max-width: $width__full;
	margin-top: 0;
	margin-bottom: 0;
	line-height: $baseline;
}

p + p {
	margin-top: $baseline;
}

.section__content {
	h2 {
		// Top level header used within section__content
		font-size: $fontsize__med - 0.65;
		font-weight: 600;
		margin-top: $baseline;
		margin-bottom: $baseline - 18;
	}
}

strong {
	font-weight: 600;
}

ul {
	line-height: $baseline;
	margin: 0;
	margin-top: $baseline;
}

li {
	margin-bottom: $baseline / 2;
}

blockquote {
	display: block;
	border-left: 6px solid $grey__dark;
	margin: 0;
	padding-left: $air;
	line-height: $baseline;
	font-style: italic;
	font-weight: 600;
	margin-bottom: $baseline * 1 - 3;
}

cite {
	display: block;
	margin: 0;
	margin-top: 3px;
	line-height: $baseline;
	font-size: $fontsize__small;
	font-style: normal;

	&::before {
		content: "- ";
	}
}

::selection {
	background-color: rgba($color__primary, 0.75);
	color: $grey__xlight;
}

hr {
	height: 1px;
}
