// colors.scss
$color__primary: hsl(0, 80%, 50%);
$color__primary--light: lighten($color__primary, 21%);
$color__primary--dark: darken($color__primary, 12%);

$grey__mid: hsl(210, 14%, 50%);
$grey__xlight: desaturate(lighten($grey__mid, 36%), 10%);
$grey__light: desaturate(lighten($grey__mid, 28%), 5%);
$grey__dark: saturate(darken($grey__mid, 32%), 12%);
$grey__xdark: saturate(darken($grey__mid, 24%), 18%);
