// colors.scss

// https://color.adobe.com/Sea-Wolf-color-theme-782171/

$color__primary: #dc3522;
$color__primary--light: lighten($color__primary, 21%);
$color__primary--dark: darken($color__primary, 12%);

$color__secondary: #374140;
$color__secondary--light: lighten($color__secondary, 21%);
$color__secondary--dark: darken($color__secondary, 12%);

$grey__mid: hsl(210, 2%, 50%);
$grey__xlight: desaturate(lighten($grey__mid, 42%), 10%);
$grey__light: desaturate(lighten($grey__mid, 28%), 5%);
$grey__dark: saturate(darken($grey__mid, 32%), 12%);
$grey__xdark: saturate(darken($grey__mid, 24%), 18%);
