// colors.scss

// https://color.adobe.com/Sea-Wolf-color-theme-782171/

$color__primary: #ff1f57;
$color__primary--light: lighten($color__primary, 21%);
$color__primary--dark: darken($color__primary, 12%);

$color__secondary: #374140;
$color__secondary--light: lighten($color__secondary, 21%);
$color__secondary--dark: darken($color__secondary, 12%);

$grey__mid: hsl(210, 2%, 50%);
$grey__light: #aeb8c2; // Light page background-color
$grey__dark: #2f455b; // Text color
