@import url("https://use.typekit.net/ysa2qbk.css");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,400i,700,700i");

$typeface-body: "Fira Sans Condensed";
$typeface-header: "acumin-pro-extra-condensed";

$typeface__primary: $typeface-body, Arial, Helvetica, sans-serif; // For body copy
$typeface__secondary: $typeface-header, Verdana, sans-serif; // For headers + display text

$fontsize__base: 137.5%; // 22px
$baseline: 32px;

$modularscale: (
	base: 20px,
	ratio: 1.2
);
