// type.scss

@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto:400,400i,700");

$typeface-body: "Roboto";
$typeface-header: "Roboto Condensed";

$typeface__primary: $typeface-body, Arial, Helvetica, sans-serif; // For body copy
$typeface__secondary: $typeface-header, Verdana, sans-serif; // For headers + display text

$fontsize__base: 137.5%; // 22px
$baseline: 32px;

$modularscale: (
	base: 20px,
	ratio: 1.2
);
