.main {
	display: block;
	width: 100%;
	max-width: $width__content + ($width__content / 4);
	padding: $air;
	margin: 0 auto;
}

.grid__main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: $air * 2;
	margin-top: $air * 2;

	@include mq($until: tablet--l) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include mq($until: mobile) {
		grid-template-columns: 1fr;
	}
}
