
{# # Layout template # --------------- # # This template defines your site’s global layout. It can be # “extended” by other
templates to fill in the gaps. # # See Twig’s Template Inheritance documentation for more details: # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
#}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">

<head>
    <meta charset="utf-8"/>
    <link rel="home" href="{{ siteUrl }}"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1d1d1d">
    <meta name="msapplication-TileColor" content="#1d1d1d">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../../assets/css/screen.css">
</head>

<body>
    {% include '/globals/_masthead' %}

    <div id="container">
        <main id="content" role="main" class="main">
            {% block content %}
                <p>If you see me, you haven’t set your
                    <code>
                        {% verbatim %}
                            {% block content %}…{% endblock %}
                        {% endverbatim %}
                    </code>
                    yet.</p>
                <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
            {% endblock %}
        </main>
    </div>

    {% include '/globals/_footer' %}
</body>

</html>
