.main {
	display: block;
	width: 100%;
	max-width: $width__content;
	padding: $air;
	margin: 0 auto;
}

.grid__main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: $air * 2;
	margin-top: $air * 2;
}
