.hero {
	display: grid;
	grid-template-columns: 2fr 8fr 2fr;
	grid-gap: $air;
	align-items: center;
	height: $baseline * 14;
	width: 100%;
}

.hero__text {
	grid-column: 2;
	text-align: center;
	font-size: ms(2);
	font-weight: 300;
	line-height: $baseline * 1.4;
}

.hero__text--greeting {
	color: $color__primary;
}
