// typography.scss

html {
	@include fluid(font-size, $width__min, $width__content, ms(-2), ms(0));
	@include fluid(
		line-height,
		$width__min,
		$width__content,
		$baseline / 1.28,
		$baseline
	);
	font-family: $typeface__primary;
	font-weight: 400;
	background: $grey__light;
	color: $grey__dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

// Base styling for links
// ======================
a:link,
a:visited {
	text-decoration: none;
	color: $color__primary;
	transition: color $time__med $ease__linear,
		box-shadow $time__med $ease__linear, fill $time__med $ease--linear,
		background-color $time__med $ease--linear;
}

a:hover {
	color: $color__primary--light;
	// box-shadow: 0 3px $color__primary--light;
	transition: color $time__med $ease__linear,
		box-shadow $time__med $ease__linear, fill $time__med $ease--linear,
		background-color $time__med $ease--linear;
}

a:active {
	color: $color__primary--dark;
	// box-shadow: 0 3px $color__primary--dark;
	transition: none;
}

// Paragraphs and spans
// ====================
p {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

p + p {
	@include fluid(
		margin-top,
		$width__min,
		$width__content,
		$baseline / 1.7,
		$baseline
	);
}

strong {
	font-weight: 700;
}

// Headers
// =======
h1,
h2,
h3,
h4 {
	font-family: $typeface__secondary;
	font-weight: 500;
	padding: 0;
	margin: 0;
	font-size: ms(2);
	margin-bottom: 0;
	text-transform: capitalize;
}

h1 {
	@include fluid(font-size, $width__min, $width__content, ms(2), ms(6));

	& + * {
		@include fluid(
			margin-top,
			$width__min,
			$width__content,
			$baseline / 1.7,
			$baseline
		);
	}
}

h2 {
	font-size: ms(3);

	& + * {
		margin-top: ms(-6);
	}
}

h3 {
	font-size: ms(2);
}

h4 {
	font-size: ms(1);
}

// ul {
// line-height: $baseline;
// margin: 0;
// margin-top: $baseline;
// }

// li {
// margin-bottom: $baseline / 2;
// }

blockquote {
	display: block;
	border-left: 6px solid $grey__dark;
	margin: 0;
	padding-left: $air;
	line-height: $baseline;
	font-style: italic;
	font-weight: 600;
	margin-bottom: $baseline;
}

cite {
	display: block;
	margin: 0;
	margin-top: 3px;
	line-height: $baseline;
	font-size: ms(-1);
	font-style: normal;

	&::before {
		content: "- ";
	}
}

::selection {
	background-color: rgba($color__primary, 0.75);
	color: $grey__light;
}

hr {
	height: $line-width;
}
