<footer id="footer" role="contentinfo" class="footer">
	<div class="footer__upper">
		<span>Copyright {{ now.year }}</span>
		<span>All rights reserved • Built with <a href="http://craftcms.com">Craft CMS</a></span>
	</div>
	<div class="footer__lower">
		{{ globals.footerCredit }}
	</div>
</footer>
