{% extends "/wrappers/wrapper" %}

{% block content %}

{% include '_partials/hero' %}
	{# {{ entry.body }} #}

	<div class="grid__main">
		{% include '/_partials/thumb_image' %}
		{% include '/_partials/thumb_image' %}
		{% include '/_partials/thumb_image' %}
		{% include '/_partials/thumb_image' %}
		{% include '/_partials/thumb_image' %}
		{% include '/_partials/thumb_image' %}
	</div>
{% endblock %}
